:root {
  --dark-red: #990400;
  --medium-red: #C13423;
  --light-red: #e36953;
  --white: white;
  --dark-grey: #464442;
  --light-blue: #61C8D9;
  --medium-blue: #4BA7BA;
  --dark-blue: #0B4E6E;
  --beige: #F6E1C2;
  --dark-beige: rgba(225, 198, 153, 0.8);
  background-color: var(--dark-grey);
}

.grid-container {
    display: grid;
    grid-template-columns: 200px auto auto 50px;
    grid-template-rows: auto auto 50px; 
    height: 100vh; 
    width: 100%; 
  }
  
  .players-display {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    border: 1px solid black;
  }
  
  .gameboards {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    border: 1px solid black; 
  }
  
  .draw-cards {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    border: 1px solid black; 
    display: flex;
    flex-direction: row;
  }

  .card-display {
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    gap: 10px;
  }

  .drawing-area {
    padding: 10px;
    border: 1px solid #ccc;
    width: 33%
  }

  .deck-area {
    padding: 10px;
    border: 1px solid #ccc;
    width: 33%
  }

  .selection-area {
    padding: 10px;
    border: 1px solid #ccc;
    width: 33%
  }

  .chat-pop-up {
    grid-column: 4 / 5;
    grid-row: 1 / span 2;
    border: 1px solid black; 
  }

  .display-role {
    grid-row: 3 / 4;
    grid-column: 1 / span 4;
    border: 1px solid black; 
  }

  .card {
    height: 150px;
    padding: 10px;
    background-color: var(--beige);
  }

  .draw-card {
    height: 100px;
    padding: 10px;
    background-color: var(--beige);
  }


  
