:root {
  --dark-red: #990400;
  --medium-red: #c13423;
  --light-red: #e36953;
  --white: white;
  --dark-grey: #464442;
  --light-blue: #61c8d9;
  --medium-blue: #4ba7ba;
  --dark-blue: #0b4e6e;
  --beige: #f6e1c2;
  --dark-beige: rgba(225, 198, 153, 0.8);
  background-color: var(--dark-grey);
}

.grid-container {
  display: grid;
  grid-template-columns: 200px auto 50px;
  grid-template-rows: 57% 43%;
  height: 100vh;
  width: 100%;
}

.tracker-text {
  font-weight: bold;
  text-decoration: underline;
  color: var(--white);
}

.players-display {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.players-display-horizontal {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  border: 1px solid black;
  flex-direction: row;
  align-items: center;
}

.gameboards {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  margin-top: 40px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  size: 90%
}

.draw-cards {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.card-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.drawing-area {
  padding: 10px;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.deck-area {
  width: 25%;
}

.tracker {
  margin-left: 10px;
}

.selection-area {
  padding: 10px;
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.selection-cards {
  margin: 10px;
}

.display-role {
  grid-row: 3 / 4;
  grid-column: 1 / span 4;
  border: 1px solid black;
}

.card {
  height: 160px;
  background-color: var(--beige);
  border-radius: 10px;
}

.container {
  display: flex;
  gap: 10px; /* Adjust the gap between rectangles */
}

.rectangle {
  width: 130px;
  height: 180px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--beige);
}

.tracker-rectangle {
  width: 40px;
  height: 180px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--beige);
}

.tracker-inner-rectangle {
  width: 30px;
  height: 160px;
  background-color: var(--dark-beige);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-rectangle {
  width: 110px;
  height: 160px;
  background-color: var(--dark-beige);
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck-text {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  color: var(--white);
}

.deck {
  margin-top: 15px;
}

.cards-count {
  font-size: 70px;
}

.tracker-count {
  font-size: 70px;
}

.gameboards-and-tracker {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 5px;
  border: 2px solid black;
}

.filled {
  background-color: var(--beige);
}

.rolling-banner {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--medium-red);
  color: #fff;
  padding: 10px 0;
}

.rolling-text {
  display: inline-block;
  position: relative;
  left: 100%;
  animation: roll 10s linear infinite;
}

@keyframes roll {
  from {
    left: 100%;
  }
  to {
    left: -100%;
  }
}
