:root {
    --dark-red: #990400;
    --medium-red: #C13423;
    --light-red: #e36953;
    --white: white;
    --dark-grey: #464442;
    --light-blue: #61C8D9;
    --medium-blue: #4BA7BA;
    --dark-blue: #0B4E6E;
    --beige: #F6E1C2;
    --dark-beige: rgba(225, 198, 153, 1);
    background-color: var(--dark-grey);
  }

  .trigger {
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
  }
  
  .bottom-slide-items.content {
    position: relative; 
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  
  .bottom-slide-up {
    position: fixed;
    bottom: 0;
    left: 20%;
    width: 60%;
    height: 6%;
    background-color: var(--dark-beige);
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
  }
  
  .bottom-slide-up.visible .content {
    top: 10%;
    height: 100%;
  }

  .bottom-slide-up.visible {
    height: 45%;
  }


  .identities{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .title-text{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-slide-out {
    position: fixed;
    top: 10%;
    right: 0;
    height: 80%;
    width: 3%; 
    background-color: var(--dark-beige);
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: width 0.3s ease;
    z-index: 100;
  }

  .right-slide-out.visible-chat{
    width:40%;
  }

  .content-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 90%;
    height: 90%; /* 80% height of the container */
    width: 100%; /* 80% width of the container */
  }
  
  .player-chat {
    background-color: #ccc; /* Gray background color */
    padding: 20px;
    border-radius: 10px;
    height: 80%;
    width: 80%;
    border: 2px solid black;
  }

  .personal-chat {
    background-color: #aaa; /* Gray background color */
    padding: 20px;
    border-radius: 10px;
    height: 5%;
    width: 85%;
    border: 2px solid black;
  }
  
  .visible-chat {
    width: 100%;
  }

  .chat-trigger{
    color: var(--dark-grey);
    cursor: pointer;
    font-weight: bold;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    margin-left: -30px;
    position: fixed; /* Position the text fixed */
    top: 55%; /* Position at 50% from the top */
    transform-origin: top right; /* Set transform origin */
    transform: translate(-50%, -50%) rotate(180deg);
  }

